<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Contact Us</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Contact Us</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-grid>
      <ion-row>
        <ion-col size="12" sizeMd="6">
          <ion-card>
            <ion-card-header>
              <ion-card-title>Query Requests</ion-card-title>
              <ion-card-subtitle>Support service form</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
              <form [formGroup]="contactForm" (ngSubmit)="onSubmitForm()">
                <ion-label> Name </ion-label>
                <ion-input color="primary" formControlName="name"> </ion-input>
                <ion-label> Email </ion-label>
                <ion-input type="email" color="primary" formControlName="email">
                </ion-input>
                <ion-label> Mobile </ion-label>
                <ion-input
                  type="number"
                  color="primary"
                  formControlName="mobile"
                >
                </ion-input>
                <ion-label> Message </ion-label>
                <ion-textarea color="primary" formControlName="message">
                </ion-textarea>
                <ion-label> Preferred Contact Method </ion-label>
                <ion-radio-group value="mobile" formControlName="contactMethod">
                  <ion-item>
                    <ion-radio value="mobile">mobile</ion-radio>
                  </ion-item>
                  <ion-item>
                    <ion-radio value="email">Email</ion-radio>
                  </ion-item>
                </ion-radio-group>
                <ion-button
                  type="submit"
                  expand="block"
                  class="ion-margin"
                  id="present-alert"
                >
                  Send
                </ion-button>
              </form>
              <ion-alert
                trigger="present-alert"
                header="Message Sent Successfull"
                subHeader="Your Request Message"
                [message]="messageData()"
                [buttons]="alertButtons"
              ></ion-alert>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="12" sizeMd="6">
          <ion-card>
            <ion-card-header class="ion-text-center">
              <ion-card-title>Contact Us</ion-card-title>
              <ion-card-subtitle>Way to reach out to us</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
              <ion-list>
                <ion-list-header class="ion-text-center">
                  <ion-title> Location Details </ion-title>
                </ion-list-header>
                <ion-item>
                  <ion-label>Company Name</ion-label>
                  <ion-label>XYZ Company</ion-label>
                </ion-item>
                <ion-item>
                  <ion-label>Country</ion-label>
                  <ion-label>India</ion-label>
                </ion-item>
                <ion-item>
                  <ion-label>State</ion-label>
                  <ion-label>Karnataka</ion-label>
                </ion-item>
                <ion-item>
                  <ion-label>Landmark</ion-label>
                  <ion-label>Mall of Asia, Hebbala</ion-label>
                </ion-item>
              </ion-list>
            </ion-card-content>
          </ion-card>
          <ion-card>
            <ion-card-header class="ion-text-center">
              <ion-card-title>Contact Over Internet</ion-card-title>
              <ion-card-subtitle
                >via Phone, Email or other modes</ion-card-subtitle
              >
            </ion-card-header>
            <ion-card-content>
              <ion-list>
                <ion-list-header class="ion-text-center">
                  <ion-title> Contact Details </ion-title>
                </ion-list-header>
                <ion-item>
                  <ion-label>Phone No</ion-label>
                  <ion-label>+91 7386675432</ion-label>
                </ion-item>
                <ion-item>
                  <ion-label>Email</ion-label>
                  <ion-label>abc@company.com</ion-label>
                </ion-item>
                <ion-item>
                  <ion-label>Social Media</ion-label>
                  <ion-label
                    ><ion-icon
                      name="logo-instagram"
                      color="danger"
                      size="large"
                    ></ion-icon>
                    <ion-icon
                      name="logo-facebook"
                      color="primary"
                      size="large"
                      class="ion-margin-horizontal"
                    ></ion-icon>
                    <ion-icon
                      name="logo-twitter"
                      color="primary"
                      size="large"
                    ></ion-icon
                  ></ion-label>
                </ion-item>
              </ion-list>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
</ion-content>
