.productImage{
    height: 240px;
    width: 100%;
    object-fit: contain;
}

.productCard{
    height: 520px;
}

.truncate-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;   /* number of lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
}