<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>products</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar
      [debounce]="500"
      (ionInput)="handleSearch($event)"
    ></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Products</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-refresher
    slot="fixed"
    [pullFactor]="0.5"
    [pullMin]="100"
    [pullMax]="200"
    (ionRefresh)="handleRefresh($event)"
  >
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-segment value="all" (ionChange)="filter($event)">
    <ion-segment-button value="all" (click)="showLoading()"
      >All</ion-segment-button
    >
    <ion-segment-button value="men's clothing" (click)="showLoading()"
      >Mens</ion-segment-button
    >
    <ion-segment-button value="women's clothing" (click)="showLoading()"
      >Womens</ion-segment-button
    >
  </ion-segment>

  <ion-grid>
    @if (filteredProducts().length!==0) {
    <ion-row>
      @for (product of filteredProducts(); track $index) {
      <ion-col size="12" sizeLg="4" sizeMd="6" sizeXl="3">
        <app-product-card
          [productData]="product"
          (click)="handleModalClick(product.id)"
        ></app-product-card>
      </ion-col>
      }
      <ion-infinite-scroll>
        <ion-infinite-scroll-content
          loadingText="Please wait..."
          loadingSpinner="bubbles"
        ></ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </ion-row>
    } @else {
    <ion-text>There are no existing products!!!!</ion-text>
    }
  </ion-grid>
  <ion-modal [isOpen]="isModalOpen()">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Product Detail</ion-title>
          <ion-button fill="none" slot="start" (click)="handleCloseModal()">
            <ion-icon name="chevron-back-outline"></ion-icon>
            Back</ion-button
          >
        </ion-toolbar>
      </ion-header>
      <ion-content fullscreen="true">
        <app-product-modal
          [productId]="currentProductModalId()"
        ></app-product-modal>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
